<div class="center">
	<h1>Favourite Posts</h1>
	
	<%= will_paginate @savedposts %>
	<% if @savedposts.any? %>
    	<% @savedposts.each do |savedpost| %>
    		<div class="posting">
    			<h3><%= link_to post_name(savedpost), post(savedpost) %></h3>
    			<p><%= post_content(savedpost)%></p>
    		</div>
    	<% end %>
    	<%= will_paginate @savedposts %>
    <% else %>
        <p>You have no favourite posts yet.</p>
    <% end %>
</div>
