<div class="center">
    <h1>Your friends</h1>
    <% if @friendships.any? %>
	    <% @friendships.each do |friendship| %>
	        <%= link_to friend(friendship).full_name, user_path(friend(friendship).id) %>
	        <%= link_to 'Remove', remove_friend_path(friend(friendship)), class: "icon-remove"%>
	        <br />
	    <% end %>
	<% else %>
		<p>You have currently no friends.</p>
	<% end %>
</div>
